---
import Document from '@components/Document/Document.astro';
import Icon from '@components/Icon.astro';
import Label from '@components/Label.astro';
import Motif from '@components/Motif/Motif.astro';

import { icons } from '../assets';
import { getExperiences } from '../content/queries';

const experiences = await getExperiences();
---

<Document title="Welcome to Astro.">
	<main class="w-fill max-w-2xl mx-auto px-4 py-10 space-y-32">
		{experiences.map(({ slug, color, year, type, model, title, intro, tools }) => (
			<section class={`theme-${color} flex flex-col gap-10`}>

				<Motif model={model}>
					<div class="flex flex-col h-full justify-between">
						<div class="flex gap-2">
							<Label class="font-medium" label={year}/>
							{type && <Label label={type} class="text-muted-half" iconClass="h-4 mx-0.5"/>}
						</div>
					</div>
				</Motif>

				<div>
					<div class="pb-3">
						<a href={slug} class="text-l font-normal text-muted cursor-pointer group hover:opacity-70 [&>strong]:text-foreground [&>strong]:font-bold inline">
							<Fragment set:html={title} />
						</a>
					</div>

					<div class="space-y-4" set:html={intro} />

					<div class="flex pt-6">
						<a href={slug} class="flex group transition-all text-s font-medium hover:text-muted gap-3 items-center">
							See efforts & results
							<Icon size={22} class="-mx-2 group-hover:-ml-1 transition-all text-muted" icon={icons.chevronRight} />
						</a>
					</div>
				</div>

				<div class="flex flex-wrap gap-x-2 gap-y-3">
					{tools.map((tool) => <Label relaxed label={tool} />)}
				</div>
			</section>
		))}
	</main>
</Document>
